.sectionContacto{
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 50px;
    font-size: 1rem;
    background-color: var(--miColorFondo);
}
.datosContacto{
    display: flex;
    padding-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
    gap: 60px;
}
.iconContacto{
   color: var(--miColor);
   margin-right:10px ;
}
.iframe-contacto{
    display: flex;
    justify-content: space-around;
}
.iframeMapa{
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.6);    
}
.contacto-form{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px;
    
}
.nombreCorreoContacto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.inputContacto{
    width: 49%;
    margin-bottom: 7px;
    outline: none;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.6);    
}
.textareaContacto{
    display: flex;
    flex-direction: column;
    width: 100%; 
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.6);    
}
.textareaContacto > textarea{
    outline: none;
}
.btnContacto{
    background-color: var(--miColor);
    margin-top: 7px;
    border: none;
    border-radius: 7px;
}
.btnContacto:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
    transform: translateY(2px);
}