<%- include('../partials/head.ejs') %>
<section class="section-terminosYCondiciones">
    <div class="terminosYCondiciones">
        <h1>Politicas de Privacidad</h1>
        <h6>Ultima actualización: 23/06/2023</h6>
        <p>En <i>Óptica Anteojitos</i>, nos comprometemos a proteger la privacidad de tus datos personales. Esta Política de Privacidad explica cómo recopilamos, utilizamos, compartimos y protegemos la información que obtenemos de los usuarios de <a href="/">nuestro sitio web.</a>
        </p>
        <ol type="I">
            <li class="itemLista">Recopilación de información:
                <ol type="i">
                    <li> Recopilamos información personal que proporcionas voluntariamente al registrarte, completar formularios o interactuar con <a href="/">nuestro sitio web.</a></li> 
                    <li> La información personal puede incluir tu nombre, dirección de correo electrónico, número de teléfono, información demográfica y otros datos relevantes.</li>
                </ol>    
            </li>
            <li class="itemLista">Uso de la información:
                <ol type="i">
                    <li>Utilizamos la información recopilada para proporcionar y mejorar nuestros servicios, responder a consultas y brindar asistencia al cliente..</li>
                    <li>Personalizamos tu experiencia en <a href="/">nuestro sitio web</a> y te proporcionamos contenido y publicidad relevantes.</li>
                    <li>Podemos utilizar tu dirección de correo electrónico para enviar información, actualizaciones y promociones relacionadas con nuestros productos y servicios.</li>
                </ol>
            </li>
            <li class="itemLista">Cookies y tecnologías similares:
                <ol type="i">
                    <li>Utilizamos cookies y tecnologías similares para recopilar información sobre tus preferencias, actividades de navegación y mejorar la funcionalidad del sitio web.</li>
                    <li>Puedes ajustar la configuración de tu navegador para gestionar las cookies. Sin embargo, desactivarlas puede afectar la funcionalidad del sitio.</li>
                </ol>
            </li>

            <li class="itemLista">Compartir información con terceros:
                <ol type="i">
                    <li>Podemos compartir información personal con proveedores de servicios externos que nos ayudan a operar el sitio web y brindar servicios relacionados.</li>
                    <li>No vendemos, alquilamos ni compartimos información personal con terceros con fines publicitarios sin tu consentimiento expreso.</li>
                </ol>
            </li>


            <li class="itemLista">Seguridad de la información:
                <ol type="i">
                    <li>En <i>Óptica Anteojitos</i> Implementamos medidas de seguridad adecuadas para proteger tus datos personales contra accesos no autorizados, pérdidas o divulgaciones. </li>
                    <li>Sin embargo, ten en cuenta que ninguna transmisión de datos a través de Internet es completamente segura, y no podemos garantizar la seguridad absoluta de la información.</li>
                </ol>    
            </li>
            <li class="itemLista">Enlaces a sitios web externos:
                <ol type="i">
                    <li><a href="/">nuestro sitio web</a> puede contener enlaces a sitios web de terceros. No tenemos control sobre el contenido o las prácticas de privacidad de esos sitios y no nos hacemos responsables de ellos.</li>
                </ol>
            </li>
            <li class="itemLista">Derechos del usuario:
                <ol type="i">
                    <li>Tienes el derecho de acceder, corregir, actualizar y eliminar tus datos personales. Puedes ejercer estos derechos comunicándote con nosotros a través de los datos de contacto proporcionados.</li>
                </ol>
            </li>
            <li class="itemLista">Cambios en la política de privacidad:
                <ol type="i">
                    <li>Nos reservamos el derecho de modificar esta Política de Privacidad en cualquier momento. Te recomendamos revisarla periódicamente para estar informado sobre cualquier cambio.</li>
                </ol>
            </li>
            <li class="itemLista">Contacto: 
                <ol type="i">
                    <li>Si tienes alguna pregunta o inquietud sobre muestra Política de Privacidad, no dudes en contactarnos a través de los datos de <a href="/contacto">contacto</a> proporcionados en <a href="/">nuestro sitio web.</a></li>
                </ol>
            </li>
        </ol>
        <p>Gracias por confiar en <i>Óptica Anteojitos</i> y por leer nuestra Política de Privacidad.</p>
    </div>
    <button class="btn-terminos" onclick="cerrarPagina()">Cerrar</button>
</section>