<%- include('../partials/head.ejs') %>
<section class="sectionNuestraHistoria">

    <h1 class="titNuestraTienda">Nuestra Historia</h1>

    <div class="divNuestraHistoria">
        <img src="/img/opticas-1.jpg" alt="imagen1" class="imgNuestraHistoria">
        <p class="textoNuestraHistoria">"Hace ya varias décadas, en el año 2003, un emprendedor visionario llamado Marcos decidió abrir una pequeña óptica en la concurrida Avenida 9 de Julio en la ciudad de Buenos Aires, Argentina. Con una pasión por ayudar a las personas a ver claramente y lucir elegantes anteojos, Marcos dio vida a "Anteojitos".</p>
    </div>

    <div class="divNuestraHistoria">
        <p class="textoNuestraHistoria">Desde el primer día, Anteojitos se destacó por su atención personalizada y su amplia selección de monturas y lentes de alta calidad. La gente de la ciudad pronto descubrió el encanto de esta óptica local, convirtiéndose en su lugar de confianza para todo lo relacionado con su salud visual.</p>
        <img src="/img/optica_2.jpg" alt="imagen2" class="imgNuestraHistoria">
    </div>

    <div class="divNuestraHistoria">
        <img src="/img/optica_3.png" alt="imagen3" class="imgNuestraHistoria">
        <p class="textoNuestraHistoria">A medida que la reputación de Anteojitos crecía, Marcos decidió expandirse y llevar su éxito a otras partes del país. En los años siguientes, abrió franquicias en diferentes ciudades, desde la soleada Mar del Plata hasta la pintoresca Córdoba, llevando la experiencia única de Anteojitos a nuevos horizontes.</p>
    </div>

    <div class="divNuestraHistoria">
        <p class="textoNuestraHistoria">El crecimiento de Anteojitos no se detuvo ahí. En 2013, consciente de la creciente tendencia del comercio electrónico, Marcos decidió dar un paso adelante y lanzar la plataforma de venta en línea de Anteojitos. Esta decisión revolucionaria permitió a los clientes de todo el país acceder a sus productos desde la comodidad de sus hogares, brindando comodidad y calidad en un solo clic.</p>
        <img src="/img/imagen_4.jpg" alt="imagen4" class="imgNuestraHistoria">
    </div>

    <div class="divNuestraHistoria">
        <img src="/img/imagen5.jpg" alt="imagen5" class="imgNuestraHistoria">
        <p class="textoNuestraHistoria">Con el tiempo, Anteojitos se convirtió en un referente en la industria óptica. Su compromiso con la calidad, la innovación y el servicio al cliente se mantuvo firme a lo largo de los años. Además de ofrecer una amplia gama de estilos y marcas de anteojos, Anteojitos también se diversificó, agregando servicios de exámenes de la vista y asesoramiento personalizado por parte de su equipo de expertos ópticos.</p>
    </div>

    <div class="divNuestraHistoria">
        <p class="textoNuestraHistoria">Hoy en día, Anteojitos es reconocida como una de las ópticas más confiables y populares de Argentina. Su legado se mantiene vivo gracias a la pasión de Marcos y su equipo por ayudar a las personas a ver el mundo con claridad y estilo. Ya sea en sus locales físicos o a través de su plataforma en línea, Anteojitos sigue brindando soluciones visuales excepcionales para cada cliente que busca una experiencia única y satisfactoria.</p>
        <img src="/img/optica-local.jpg" alt="foto de local" class="imgNuestraHistoria">
    </div>

    <div class="divNuestraHistoria">
        <img src="/img/imagen7.jpg" alt="imagen7" class="imgNuestraHistoria">
        <p class="textoNuestraHistoria">A lo largo de los años, Anteojitos ha forjado una historia llena de éxito, superando desafíos y adaptándose a las necesidades cambiantes de sus clientes. Su compromiso con la calidad, la atención al detalle y la excelencia ha convertido a Anteojitos en un verdadero referente en la industria óptica".</p>  
    </div>       
    <button class="btnNuestraHistoria" onclick="cerrarPagina()">Cerrar</button>
</section>
<%- include('../partials/footer.ejs') %>