<%- include('../partials/head.ejs') %>
<section class="section-terminosYCondiciones">
    <div class="terminosYCondiciones">
        <h1>Términos Del Servicio</h1>
        <h6>Ultima actualización: 23/06/2023</h6>
        <p>Estos Términos de Servicio establecen los términos y políticas bajo los cuales los usuarios pueden acceder y utilizar nuestros servicios. Al acceder o utilizar nuestro sitio web y nuestros servicios, aceptas cumplir con estos términos. Si no estás de acuerdo con alguno de los términos, te solicitamos que no utilices nuestros servicios.
        </p>
        <ol type="I">
            <li class="itemLista">Descripción de los servicios:
                <ol type="i">
                    <li> Proporcionamos variedad de lentes de sol y recetados a través de nuestro sitio web. Como tambien accesorios, cristales, armazones y asesoramiento, envio de publicidad con ofertas y los productos recien llegados. Los detalles específicos de los servicios se encuentran disponibles en nuestro sitio web.</li> 
                </ol>    
            </li>
            <li class="itemLista">Uso del servicio:
                <ol type="i">
                    <li>Al utilizar nuestros servicios, te comprometes a cumplir con todas las leyes y regulaciones aplicables.</li>
                    <li>No puedes utilizar nuestros servicios para fines ilegales, fraudulentos o no autorizados.</i></li>
                </ol>
            </li>
            <li class="itemLista">Registro de cuenta:
                <ol type="i">
                    <li>Al registrarte en nuestro sitio web, aceptas proporcionar información precisa y completa.</li>
                    <li>Eres responsable de mantener la confidencialidad de tu cuenta y de todas las actividades que ocurran bajo tu cuenta.</li>
                </ol>
            </li>

            <li class="itemLista">Propiedad intelectual:
                <ol type="i">
                    <li>Todo el contenido presente en nuestro sitio web, incluyendo texto, gráficos, logotipos, imágenes y software, está protegido por derechos de autor y otras leyes de propiedad intelectual.</li>
                    <li>No se permite la reproducción, distribución, modificación o cualquier otro uso no autorizado del contenido sin nuestro consentimiento previo por escrito.</li>
                </ol>
            </li>


            <li class="itemLista">Limitación de responsabilidad:
                <ol type="i">
                    <li>No nos hacemos responsables de cualquier daño, directo o indirecto, que pueda surgir del uso o la incapacidad de uso de nuestros servicios.</li>
                    <li>No garantizamos la disponibilidad continua, el acceso seguro o libre de errores de este sitio web.</li>
                </ol>    
            </li>
            <li class="itemLista">Modificaciones de los términos de servicio:
                <ol type="i">
                    <li>Nos reservamos el derecho de modificar o actualizar estos términos de servicio en cualquier momento. Te recomendamos revisarlos periódicamente para estar informado sobre cualquier cambio.</li>
                </ol>
            </li>
            <li class="itemLista">Terminación del servicio:
                <ol type="i">
                    <li>Nos reservamos el derecho de dar por terminado, suspender o restringir tu acceso a nuestros servicios, en cualquier momento y por cualquier motivo, sin previo aviso ni responsabilidad.</li>
                </ol>
            </li>
            <li class="itemLista">Ley aplicable y jurisdicción:
                <ol type="i">
                    <li>Estos términos de servicio se rigen por las leyes de la Ciudad Autonoma de Buenos Aires - Argentina. Cualquier disputa legal relacionada con estos términos se someterá a la jurisdicción exclusiva de los tribunales de la misma ciudad.</li>
                </ol>
            </li>
            <li class="itemLista">Contacto: 
                <ol type="i">
                    <li>Si tienes alguna pregunta o inquietud sobre nuestros Términos del Servicio, contáctanos a través de los datos de <a href="/contacto">contacto</a> proporcionados en este sitio web.</li>
                </ol>
            </li>
        </ol>
        <p>Gracias por utilizar nuestros servicios y por aceptar nuestros términos de servicio.</p>
    </div>
    <button class="btn-terminos" onclick="cerrarPagina()">Cerrar</button>
</section>