/* :root{
    --miColor: #F8D728;
}    
*{
    font-family: 'Roboto', sans-serif;
} */
/* Pagina 2 CC */

/* titulo page 2*/
.titPages2{
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
}
/* categoria de productos page 2 */
.linksPages2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.linksPages2 >a{
    /* text-decoration: none;
    cursor: pointer; */
    color:black;
    font-size: 1.1rem;
    font-weight: 400;
    border-bottom:2px rgb(200, 198, 198) solid;
    padding-bottom: 1rem;
    min-width: 142px;
    text-align: center;
}
.linksPages2 >a:hover{
    border-bottom:2px var(--miColor) solid;
    font-weight: bolder;
}
.linksPages2 a.selected {
    border-bottom:2px var(--miColor) solid;
    font-weight: bolder;
}
/* contenedor imagenes page 2 */
.section-page2{
    margin-left: 40px;
    margin-right: 40px;
}
.imgPages2{
    /* max-width: 400px;
    max-height: 250px; */
    border: 1px var(--miColor) solid;
    /* max-height: 134px;
    min-height: 134px;
    max-width: 203px;
    min-width: 203px; */
    
}
.textoPages2{
    font-size: 1rem;
    margin: 6px 0px 1px 0px;
}
.ofertas{
    color:red;
}
.contenedorPage2{
    display: flex;
}   
.contenedorPadre{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:flex-start;
    column-gap: 55px;
}
.tarjetaPage2{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    overflow-y: hidden;
    width: 30%;
}
.textoTarjetasPages2{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.btn-page2{
    background-color: var(--miColor);
    color:black;
    width: 95px;
    height: 40px;
    font-size: 0.5rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
}
.siguientePage2{
    width: 100%;
    color:black;
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
}
.iconSiguientePage2{
    color:black;
    font-size: 2rem;
}
.siguientePage2 >p{
    margin-left: 150px;
    margin-right: 150px;
}
.btn-sgte-page2:hover{
    scale: 1.2;
}